body {
    margin: 0px;
    padding: 0px;
}

#gitHubLink:visited {
    color: blue;
}

#statsModalText {
    display: flex;
    justify-content: space-between;
}

.statsTextTitle {
    margin-bottom: 0;
    margin-top: 50px;
}

.statColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#howToPlayModalText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}

.outerIconDiv {
    min-width: 25px;
    min-height: 25px;
}

#howToPlayText {
    padding-bottom: 10px;
}

.howToPlayIconText {
    padding-left: 40px;
}

.howToPlayIcon {
    display: flex;
    min-height: 50px;
    align-items: center;
    width: 100%;
}

#skipIcon {
    margin-left: 0px;
    margin-right: 0px;
}

.modalTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 1 0%;
}

.modalText {
    letter-spacing: 1px;
    font-size: 15px;
}

.modalTitleText {
    flex-grow: 1;
    justify-content: center;
    display: flex;
    margin: 0;
}

.modal {
    background-color: #212121;
    padding: 30px 50px;
    width: 500px;
    max-width: 100%;
    margin-bottom: 275px;
    border: 1px solid #444;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.modalContainer {
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    transition: opacity 0.3s ease;
}

.modalContainer.showModal {
    opacity: 1;
    pointer-events: auto;
}

.modalCloseButton {
    height: 25px;
    width: 25px;
    align-items: center;
    display: flex;
    background-color: #121212;
    border: #121212;
}

.headerButton {
    background-color: #121212;
    border: #121212;
}

#hrFooter {
    margin-top: 25px;
    max-width: 800px;
}

#footer {
    padding-top: 10px;
    text-align: center;
}

#basePage {
    background-color: #121212;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#results {
    padding: 28px 28px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    max-width: 460px;
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#resultImage {
    margin-top: 50px;
    height: 300px;
    width: 300px;
}

#spotifyButton {
    height: 50px;
    width: 150px;
    border-radius: 500px;
    background-color:#1ed760;
}

#spotifyLink {
    text-decoration: none;
    color: black;
}

#resultMessageDiv {
    height: 100px;
}

#resultMessage {
    margin-bottom: 20px;
}

#resultBar {
    display: flex;
    flex-grow: 1;
    height: 20px;
    width: 100%;
    border: 1px solid rgb(136, 136, 136);
}

#resultGuess1 {
    flex-grow: 1;
    border-right: 1px solid rgb(136, 136, 136);
}

#resultGuess2 {
    flex-grow: 1;
    border-right: 1px solid rgb(136, 136, 136);
}

#resultGuess3 {
    flex-grow: 1;
    border-right: 1px solid rgb(136, 136, 136);
}

#resultGuess4 {
    flex-grow: 1;
    border-right: 1px solid rgb(136, 136, 136);
}

#resultGuess5 {
    flex-grow: 1;
    border-right: 1px solid rgb(136, 136, 136);
}

#resultGuess6 {
    flex-grow: 1;
}

#header {
    padding: 0px;
    height: 57px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgb(136, 136, 136);
}

#headerContents {
    width: 800px;
    display: flex;
    padding: 8px 4px;
    align-items: center;
    text-align: center;
}

#headerTitle {
    min-width: 200px;
    margin: 0px;
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: -0.04em;
    flex-grow: 1;
}

#content {
    padding: 28px 28px 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    max-width: 1000px;
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#progressDiv {
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-top: 2px solid rgb(136, 136, 136);
    border-bottom: 2px solid rgb(136, 136, 136);
}

#progressBar {
    display: flex;
    height: 20px;
    width: 100%;
    max-width: 800px;
    border-left: 1px solid rgb(136, 136, 136);
    border-right: 1px solid rgb(136, 136, 136);
    overflow: hidden;
    position: relative;
    z-index: 1;
}

#progressBar > div {
    position: relative;
    overflow: hidden;
    z-index: 2;
}

#progressBar::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background-color: green;
    z-index: 3;
}

#progressBar.animate::before {
    animation: fillSegment 16s linear forwards;
}

#progressBar.paused::before {
    animation-play-state: paused;
}

@keyframes fillSegment {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

#play1 {
    flex-grow: 1;
    border-right: 1px solid rgb(136, 136, 136);
}

#play2 {
    flex-grow: 1;
    border-right: 1px solid rgb(136, 136, 136);
}

#play3 {
    flex-grow: 2;
    border-right: 1px solid rgb(136, 136, 136);
}

#play4 {
    flex-grow: 4;
    border-right: 1px solid rgb(136, 136, 136);
}

#play5 {
    flex-grow: 4;
    border-right: 1px solid rgb(136, 136, 136);
}

#play6 {
    flex-grow: 4;
}

.playProgressBar {
    background-position: left;
}

#searchDiv {
    padding-top: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    max-width: 800px;
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#playButtonRow {
    padding-bottom: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    max-width: 800px;
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#currentTimePlayingDiv {
    display: flex;
    justify-content: start;
}

#playButtonDiv {
    display: flex;
    justify-content: center;
}

#totalTimeDiv {
    display: flex;
    justify-content: end;
}

#playButton {
    width: 50px;
    border-radius: 50%;
    height: 50px;
    background-color: #fff;
    color: #000;
}

#playButton:hover {
    transform: scale(1.06);
}

#pauseButton {
    width: 50px;
    border-radius: 50%;
    height: 50px;
    background-color: #fff;
    color: #000;
}

#pauseButton:hover {
    transform: scale(1.06);
}

#searchBarRow {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    max-width: 800px;
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#searchInput {
    position: relative;
    width: 800px;
    height: 7vh;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
    padding-left: 25px;
    z-index: 1;
}

#submissionRow {
    padding-top: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    max-width: 800px;
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#skipDiv {
    display: flex;
    justify-content: start;
}

#skipButton {
    height: 50px;
    width: 125px;
    background-color: rgb(100, 100, 100);
    color: #fff;
    border-radius: 10px;
}

#resetDiv {
    display: flex;
    justify-content: center;
}

#resetButton {
    height: 50px;
    width: 125px;
    background-color: rgb(255, 255, 255);
    color: black;
    border-radius: 10px;
}

#submitButtonDiv {
    display: flex;
    justify-content: end;
}

#submitButton {
    height: 50px;
    width: 125px;
    background-color: rgba(0, 248, 33, 0.575);
    color: #fff;
    border-radius: 10px;
}

#playAgainDiv {
    height: 100px;
}

#playAgainButton {
    height: 50px;
    width: 125px;
    background-color: rgba(0, 248, 33, 0.575);
    color: #fff;
    border-radius: 10px;
}

.foreground {
    color: #fff;
}

.guessBox {
    width: 800px;
    height: 50px;
    border: 1px solid rgb(136, 136, 136);
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.row {
    width: 33%;
}

.skipped {
    width: 25px;
    height: 25px;
    border: 1px solid rgb(136, 136, 136);
    margin-left: 10px;
    margin-right: 15px;
    border-radius: 5px;
}

.skippedText {
    color: rgb(100, 100, 100);
}

.spacedText {
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.15em;
}

.wrong {
    width: 25px;
    height: 25px;
    margin-left: 10px;
    margin-right: 15px;
}

.wrongX1 {
    border-left: 1px solid red;
    height: 25px;
    width: 1px;
    transform: rotate(45deg);
    position: absolute;
    margin-left: 10px;
    margin-right: 15px;
}

.wrongX2 {
    border-left: 1px solid red;
    height: 25px;
    width: 1px;
    transform: rotate(-45deg);
    position: absolute;
    margin-left: 10px;
    margin-right: 15px;
}

.partiallyCorrect {
    width: 25px;
    height: 25px;
    margin-left: 10px;
    margin-right: 15px;
}

.partiallyCorrectX1 {
    border-left: 1px solid yellow;
    height: 25px;
    width: 1px;
    transform: rotate(45deg);
    position: absolute;
    margin-left: 10px;
    margin-right: 15px;
}

.partiallyCorrectX2 {
    border-left: 1px solid yellow;
    height: 25px;
    width: 1px;
    transform: rotate(-45deg);
    position: absolute;
    margin-left: 10px;
    margin-right: 15px;
}

.correct {
    width: 25px;
    height: 25px;
    margin-left: 10px;
    margin-right: 15px;
}

.correctX1 {
    border-left: 1px solid green;
    height: 25px;
    width: 1px;
    transform: rotate(45deg);
    position: absolute;
    margin-left: 10px;
    margin-right: 15px;
}

.correctX2 {
    border-left: 1px solid green;
    height: 25px;
    width: 1px;
    transform: rotate(-45deg);
    position: absolute;
    margin-left: 10px;
    margin-right: 15px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    overflow-y: scroll;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 2;
    max-height: 300px;
    width: 800px;
    bottom: 67px;
}

.show {
    display: block;
}

#myUL {
    padding: 0px;
    margin: 5px 0px;
    list-style-type: none;
}

.dropdown-content a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #cecece
}

a:hover {
    cursor: pointer;
}

button:hover {
    cursor: pointer;
}

button:disabled {
    cursor: not-allowed;
}

* {
    font-family: "Noto Sans", sans-serif;
    box-sizing: border-box;
}