<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>My Heardle</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/play.css}">

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="https://sdk.scdn.co/spotify-player.js"></script>
    <script th:src="@{/js/web_playback.js}"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>


    <script th:inline="javascript">
        //<![CDATA[
        const token = [[${token}]];
        var accessToken = token?.access_token;
        const refreshToken = token?.refresh_token;

        const GET_SONGS = "https://api.spotify.com/v1/playlists";
        const PLAY_SONG = "https://api.spotify.com/v1/me/player/play";
        const PAUSE_SONG = "https://api.spotify.com/v1/me/player/pause";

        var randomSong;
        var songList;
        var currentAttempts = 1;
        var guessedBoxes = {
            1: "",
            2: "",
            3: "",
            4: "",
            5: "",
            6: ""
        }
        var playlistId = "5XALIurWS8TuF6kk8bj438";
        var timeLeftGlobal = 0;
        var counterLocal = 0;
        var counterGlobal = 0;
        var timerTextInterval;
        var timeInterval;

        $(document).ready(async function () {
            if (!token) {
                window.location = "/";
            }

            setStatistics();

            Swal.fire({
                title: "Loading game, please wait",
                allowOutsideClick: false,
                allowEscapeKey: false,
                allowEnterKey: false,
                showConfirmButton: false,
                animation: false,
                onOpen: function() {
                    Swal.showLoading();
                }
            });
            setupGame().then(function() {
                Swal.close();

                //If the user doesn't have any stats, show the how-to-play modal
                let userStats = JSON.parse(localStorage.getItem("userStats"));
                if (!userStats) {
                    $("#howToPlayButton").click();
                }
            });



            $("#submitButton").click(function() {
                let guessedSongId = $("#chosenSongId").val();
                let guess = $("#searchInput").val();
                if (!guess || !guess.trim() || guessedSongId == '') {
                    Swal.fire({
                        type: "warning",
                        text: "You must select a song from the dropdown list"
                    });
                    return;
                }

                player.getCurrentState().then(state => {
                    if (!state.paused) {
                        pauseSong();
                        clearInterval(timeInterval);
                        clearInterval(timerTextInterval);
                    }
                });

                let correct = checkGuess();

                currentAttempts++;

                if (currentAttempts == 7 || correct) {
                    finishGame(correct);
                }

                $("#searchInput").val('');
            });

            $("#pauseButton").click(function () {
                clearInterval(timeInterval);
                clearInterval(timerTextInterval);
            });

            $("#skipButton").click(function () {
                setUpdatedSkipText(currentAttempts);

                $("#guessBox" + currentAttempts).children(".skipped").attr('hidden', false);
                $("#guessBox" + currentAttempts).children(".skippedText").attr('hidden', false);
                guessedBoxes[currentAttempts] = "skip";

                let index = currentAttempts + 1;
                $("#play" + index).css("background-color", "rgb(65, 65, 65)");

                currentAttempts++;

                if (currentAttempts == 7) {
                    player.getCurrentState().then(state => {
                        if (!state.paused) {
                            pauseSong();
                            clearInterval(timeInterval);
                            clearInterval(timerTextInterval);
                        }
                    });
                    finishGame(false);
                }

                $("#searchInput").val('');
            });

            $("#playAgainButton, #resetButton").click(function () {
                //TODO: separate results into new page
                location.reload();
            });


            $("#informationButton").click(function () {
                $("#informationModalContainer").addClass("showModal");
            });

            $(document).keydown(function (event) {
                if (event.key == "Escape") {
                    if ($("#informationModalContainer").hasClass("showModal")) {
                        $("#informationModalCloseButton").click();
                    }
                    if ($("#supportModalContainer").hasClass("showModal")) {
                        $("#supportModalCloseButton").click();
                    }
                    if ($("#statsModalContainer").hasClass("showModal")) {
                        $("#statsModalCloseButton").click();
                    }
                    if ($("#howToPlayModalContainer").hasClass("showModal")) {
                        $("#howToPlayModalCloseButton").click();
                    }
                }
            });

            $("#informationButton").keydown(function (event) {
                this.blur();
            });

            $("#supportButton").keydown(function (event) {
                this.blur();
            });

            $("#statsButton").keydown(function (event) {
                this.blur();
            });

            $("#howToPlayButton").keydown(function (event) {
                this.blur();
            });

            $("#informationModalCloseButton").click(function () {
                $("#informationModalContainer").removeClass("showModal");
            });

            $("#supportButton").click(function () {
                $("#supportModalContainer").addClass("showModal");
            });

            $("#supportModalCloseButton").click(function () {
                $("#supportModalContainer").removeClass("showModal");
            });

            $("#statsButton").click(function () {
                $("#statsModalContainer").addClass("showModal");
            });

            $("#statsModalCloseButton").click(function () {
                $("#statsModalContainer").removeClass("showModal");
            });

            $("#howToPlayButton").click(function () {
                $("#howToPlayModalContainer").addClass("showModal");
            });

            $("#howToPlayModalCloseButton").click(function () {
                $("#howToPlayModalContainer").removeClass("showModal");
            });


            $("#playButton").click(async function() {
                $("#playButton").hide();
                $("#pauseButton").show();

                let position_ms = 1;
                if (timeLeftGlobal) {
                    switch (currentAttempts) {
                        case (1):
                            position_ms = 1000 - timeLeftGlobal;
                            break;
                        case (2):
                            position_ms = 2000 - timeLeftGlobal;
                            break;
                        case (3):
                            position_ms = 4000 - timeLeftGlobal;
                            break;
                        case (4):
                            position_ms = 8000 - timeLeftGlobal;
                            break;
                        case (5):
                            position_ms = 12000 - timeLeftGlobal;
                            break;
                        case (6):
                            position_ms = 16000 - timeLeftGlobal;
                            break;
                        default:
                    }
                }

                let context_uri = "spotify:playlist:" + playlistId;
                let offset = {
                    "uri": "spotify:track:" + randomSong.track.id
                }
                let body = {
                    "context_uri": context_uri,
                    "offset": offset,
                    "position_ms": position_ms
                };
                let url = PLAY_SONG + "?device_id=" + deviceId;

                let retries = 5;

                const playSongRequest = async () => {
                    try {
                        const response = await fetch(url, {
                            method: "PUT",
                            headers: new Headers({
                                Authorization: "Bearer " + accessToken,
                            }),
                            body: JSON.stringify(body)
                        });
                        if (!response.ok) {
                            throw new Error(`${response.status}`);
                        }
                    } catch (error) {
                        if (error.message == "401" && retries > 0) {
                            retries--;
                            await refreshAccessToken();
                            await playSongRequest();
                        } else if (error.message == "403") {
                            Swal.fire({
                                type: "error",
                                text: "You must have a Spotify Premium account to play this game."
                            }).then(function() {
                                window.location = "/";
                            });
                        } else {
                            Swal.fire({
                                type: "error",
                                text: "There was an error trying to play the song. Going back to the login page"
                            }).then(function() {
                                window.location = "/";
                            });
                        }
                    }
                }
                playSongRequest();

                handleTime();
            });

            // Hide the dropdown when clicking outside of search bar
            window.onclick = function (event) {
                if (!event.target.matches('#searchInput')) {
                    let dropdowns = $(".dropdown-content");
                    for (let i = 0; i < dropdowns.length; i++) {
                        let openDropdown = dropdowns[i];
                        if (openDropdown.classList.contains('show')) {
                            openDropdown.classList.remove('show');
                        }
                    }
                }
            }
        });

        function handleTime() {
            let countDownTime = new Date().getTime();
            let localAttempts = currentAttempts;

            if (timeLeftGlobal) {
                countDownTime += timeLeftGlobal;
            } else {
                switch (localAttempts) {
                    case (1):
                        countDownTime += 1000;
                        break;
                    case (2):
                        countDownTime += 2000;
                        break;
                    case (3):
                        countDownTime += 4000;
                        break;
                    case (4):
                        countDownTime += 8000;
                        break;
                    case (5):
                        countDownTime += 12000;
                        break;
                    case (6):
                        countDownTime += 16000;
                        break;
                    default:
                }
            }

            $("#progressBar").removeClass("paused");
            $("#progressBar").addClass("animate");

            timeInterval = setInterval(function () {
                if (currentAttempts > localAttempts) {
                    switch (currentAttempts) {
                        case (2):
                            countDownTime += 1000;
                            break;
                        case (3):
                            countDownTime += 2000;
                            break;
                        case (4):
                            countDownTime += 4000;
                            break;
                        case (5):
                            countDownTime += 4000;
                            break;
                        case (6):
                            countDownTime += 4000;
                            break;
                        default:
                    }
                    localAttempts = currentAttempts;
                }
                let now = new Date().getTime();
                let timeLeft = countDownTime - now;

                timeLeftGlobal = timeLeft;

                if (timeLeft <= 0) {
                    clearInterval(timeInterval);
                    pauseSong();
                    $("#pauseButton").hide();
                    $("#playButton").show();
                    timeLeftGlobal = 0;
                    $("#progressBar").removeClass("animate");
                }
            }, 1);

            timerTextInterval = setInterval(function () {
                counterLocal += 10;
                if (Math.floor(counterLocal / 1000) > counterGlobal) {
                    counterGlobal++;
                    let secondsPlayed = counterGlobal;
                    if (counterGlobal < 10) {
                        secondsPlayed = "0" + secondsPlayed;
                    }
                    $("#currentTimePlayingText").text("0:" + secondsPlayed);
                }

                if (timeLeftGlobal <= 0) {
                    clearInterval(timerTextInterval);
                    counterGlobal = 0;
                    counterLocal = 0;
                    $("#currentTimePlayingText").text("0:00");
                }
            }, 10);
        }

        function setStatistics() {
            let userStats = JSON.parse(localStorage.getItem("userStats"));
            if (userStats) {
                $("#wonStats").text(userStats.won);
                $("#playedStats").text(userStats.played);
                let percent = (userStats.won / userStats.played) * 100;
                percent = percent.toFixed(2);
                $("#percentStats").text(percent);
            }
        }

        function pauseSong() {
            $("#progressBar").addClass("paused");
            $("#pauseButton").hide();
            $("#playButton").show();
            let url = PAUSE_SONG + "?device_id=" + deviceId;

            const pauseSong = async () => {
                try {
                    let response = await fetch(url, {
                        method: "PUT",
                        headers: new Headers({
                            Authorization: "Bearer " + accessToken,
                        })
                    });
                    if (!response.ok) {
                        throw new Error(`${response.status}`);
                    }
                } catch (error) {
                    Swal.fire({
                        type: "error",
                        text: "There was an error trying to pause the song. Going back to the login page"
                    }).then(function() {
                        window.location = "/";
                    });
                }
            }
            pauseSong();
        }

        function finishGame(correct) {
            player.getCurrentState().then(state => {
                if (!state.paused) {
                    pauseSong();
                    clearInterval(timeInterval);
                    clearInterval(timerTextInterval);
                }
            });

            for (let i = 1; i <= 6; i++) {
                let guess = guessedBoxes[i];
                switch (guess) {
                    case ("wrong"):
                        $("#resultGuess" + i).attr('style', 'background-color: red;');
                        break;
                    case ("skip"):
                        $("#resultGuess" + i).attr('style', 'background-color: rgb(65, 65, 65);');
                        break;
                    case ("partial"):
                        $("#resultGuess" + i).attr('style', 'background-color: yellow;');
                        break;
                    case ("correct"):
                        $("#resultGuess" + i).attr('style', 'background-color: green;');
                        break;
                    default:
                }
            }

            if (correct == true) {
                $("#resultMessage").text("You won in " + (currentAttempts - 1) + " attempt(s)!");
            } else {
                $("#resultMessage").text("You did not guess the correct song :(");
            }

            $("#game").attr('hidden', true);
            $("#results").attr('hidden', false);


            let userStats = JSON.parse(localStorage.getItem("userStats"));

            if (!userStats) {
                userStats = {
                    won: 0,
                    played: 0,
                }
            }

            if (correct == true) {
                userStats.won += 1;
            }
            userStats.played += 1;

            $("#wonStats").text(userStats.won);
            $("#playedStats").text(userStats.played);
            let percent = (userStats.won / userStats.played) * 100;
            percent = percent.toFixed(2);
            $("#percentStats").text(percent);

            localStorage.setItem("userStats", JSON.stringify(userStats));
        }

        function setInitialResults(randomSong) {

            $("#resultImage").attr('src', randomSong.track.album.images[0].url);

            let songName = randomSong.track.name + " (";

            for (let i = 0; i < randomSong.track.artists.length; i++) {
                if (i == randomSong.track.artists.length - 1) {
                    songName += randomSong.track.artists[i].name + ")";
                } else {
                    songName += randomSong.track.artists[i].name + ", ";
                }
            }
            $("#resultSong").text(songName);
            $("#spotifyLink").attr('href', randomSong.track.external_urls.spotify);
        }


        function checkGuess() {
            let guessedSongId = $("#chosenSongId").val();
            let guessedSongText = $("#searchInput").val();

            let guessedSongObject = songList.find((song) => song.track.id == guessedSongId);

            let guessedArtists = guessedSongObject.track.artists;
            let guessedArtistNames = [];

            guessedArtists.forEach(function (artist) {
                guessedArtistNames.push(artist.name);
            });

            $("#guessBox" + currentAttempts).children(".guessedSongText").text(guessedSongText);

            let correct = false;
            let partiallyCorrect = false;

            if (guessedSongId == randomSong.track.id) {
                correct = "true";
                $("#guessBox" + currentAttempts).children(".correct").attr('hidden', false);
                guessedBoxes[currentAttempts] = "correct";
            } else {
                randomSong.track.artists.every(artist => {
                    if (guessedArtistNames.includes(artist.name)) {
                        partiallyCorrect = "true";
                        $("#guessBox" + currentAttempts).children(".partiallyCorrect").attr('hidden', false);
                        guessedBoxes[currentAttempts] = "partial";
                        return false;
                    }
                    return true;
                });
            }

            if (!correct && !partiallyCorrect) {
                $("#guessBox" + currentAttempts).children(".wrong").attr('hidden', false);
                guessedBoxes[currentAttempts] = "wrong";
            }

            $("#guessBox" + currentAttempts).children(".guessedSongText").attr('hidden', false);

            let index = currentAttempts + 1;
            $("#play" + index).css("background-color", "rgb(65, 65, 65)");

            setUpdatedSkipText(currentAttempts);

            if (correct == "true") {
                return true;
            }
            return false;
        }

        function setUpdatedSkipText(attempts) {
            let updatedText;
            switch (attempts) {
                case (1):
                    updatedText = "SKIP (+2s)";
                    break;
                case (2):
                    updatedText = "SKIP (+4s)";
                    break;
                case (3):
                    updatedText = "SKIP (+4s)";
                    break;
                case (4):
                    updatedText = "SKIP (+4s)";
                    break;
                case (5):
                    updatedText = "SKIP (+4s)";
                    break;
                default:
            }

            $("#skipButton").text(updatedText);
        }

        async function setupGame() {
            let songArray = await initializeSongsFromPlaylist();
            songList = songArray;

            setSongDropdown(songArray);
            randomSong = await pickRandomSong(songArray);
            setInitialResults(randomSong);
            enableButtons();

<!--            songList = removeDuplicateSongs(songList);-->
        }

        async function initializeSongsFromPlaylist() {
            let offset = 0;
            let limit = 100;
            let data = await getSongsFromPlaylist(playlistId, offset, limit);

            let songArray = data.items;

            let numberOfSongs = data.total - limit;

            if (numberOfSongs > 0) {
                let loops = Math.ceil(numberOfSongs / limit);
                for (let i = 1; i <= loops; i++) {
                    data = await getSongsFromPlaylist(playlistId, i * limit, limit);
                    songArray = songArray.concat(data.items);
                }
            }
            return songArray;
        }

        async function pickRandomSong(songArray) {
            let randomIndex = Math.floor(Math.random() * songArray.length);
            return songArray[randomIndex];
        }

        function enableButtons() {
            $("#playButton").prop("disabled", false);
            $("#skipButton").prop("disabled", false);
            $("#resetButton").prop("disabled", false);
            $("#submitButton").prop("disabled", false);
        }

        function setSongDropdown(songArray) {
            for (let i = 0; i < songArray.length; i++) {
                let song = songArray[i];
                let elem = document.createElement("a");
                elem.href = "#";
                elem.addEventListener('click', function () {
                    selectSong(this);
                });
                elem.textContent = song.track.name + " (";
                for (let j = 0; j < song.track.artists.length; j++) {
                    if (j == song.track.artists.length - 1) {
                        elem.textContent += song.track.artists[j].name + ")";
                    } else {
                        elem.textContent += song.track.artists[j].name + ", ";
                    }
                }
                elem.value = song.track.id;
                let listElem = document.createElement("li");
                listElem.appendChild(elem);
                $("#myUL").append(listElem);
            }
        }

        function filterSearch(searchInput) {
            $("#chosenSongId").val('');
            let search = searchInput.value.toLowerCase();
            if (search.trim() != '') {
                $("#songsDropdown").addClass('show');
            } else {
                $("#songsDropdown").removeClass('show');
            }

            let songsList = $("#myUL").children('li');
            for (let i = 0; i < songsList.length; i++) {
                let a = songsList[i].firstChild;
                if (a.innerHTML.toLowerCase().indexOf(search) > -1) {
                    songsList[i].style.display = "";
                } else {
                    songsList[i].style.display = "none";
                }
            }
        }

        function selectSong(anchorTag) {
            $("#searchInput").val(anchorTag.textContent);
            $("#chosenSongId").val(anchorTag.value);
        }


        async function getSongsFromPlaylist(playlistId, offset, limit) {
            let songs;
            let retries = 5;
            const getSongs = async () => {
                try {
                    let response = await fetch(GET_SONGS + "/" + playlistId + "/tracks?offset=" + offset + "&limit=" + limit, {
                        method: "GET",
                        headers: new Headers({
                            Authorization: "Bearer " + accessToken,
                            Accept: "application/json"
                        }),
                    });
                    if (!response.ok) {
                        throw new Error(`${response.status}`);
                    }
                    songs = response;
                } catch (error) {
                    if (error.message == "401" && retries > 0) {
                        retries--;
                        await refreshAccessToken();
                        await getSongs();
                    } else if (error.message == "403") {
                        Swal.fire({
                            type: "error",
                            text: "You must have a Spotify Premium account to play this game."
                        }).then(function() {
                            window.location = "/";
                        });
                    } else {
                        Swal.fire({
                            type: "error",
                            text: "There was an error trying to play the song. Going back to the login page"
                        }).then(function() {
                            window.location = "/";
                        });
                    }
                }
            }
            await getSongs();

            return await songs.json();
        }

        function removeDuplicateSongs(songArray) {
            let seen = {};
            return songArray.filter(function(song) {
                return seen[song.track.name] ? false: (seen[song.track.name] = true);
            });
        }

        async function refreshAccessToken() {
            $.ajax({
                url: "/token/" + refreshToken,
                type: "POST",
                success: function(response) {
                    accessToken = response.access_token;
                },
                error: function(error) {
                    window.location = "/";
                }
            });
        }

        //]]>
    </script>

</head>
<body>
<div id="basePage">
    <div id="header">
        <div class="modalContainer" id="informationModalContainer">
            <div class="modal" id="informationModal">
                <div class="modalTitle">
                    <h3 class="modalTitleText foreground">About</h3>
                    <button class="modalCloseButton" id="informationModalCloseButton">
                        <svg class="w-7 h-7 foreground" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                    </button>
                </div>
                <div class="modalText">
                    <p class="foreground">Listen to up to 16 seconds of a song, attempting to guess the name within 6 tries.</p>
                    <p class="foreground">Unlike the original Heardle, you may play with a new song as many times as you like! Just hit the reset button or refresh the page.</p>
                </div>
            </div>
        </div>
        <div class="modalContainer" id="supportModalContainer">
            <div class="modal" id="supportModal">
                <div class="modalTitle">
                    <h3 class="modalTitleText foreground">Support</h3>
                    <button class="modalCloseButton" id="supportModalCloseButton">
                        <svg class="w-7 h-7 foreground" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                    </button>
                </div>
                <div class="modalText">
                    <p class="foreground">My friends and I played Heardle daily for months until Spotify discontinued it. This project was intended to revive the fun we had and allow others to do the same.</p>
                    <p class="foreground">If you want to show some love, feel free to star the <a id="gitHubLink" href="https://github.com/nburbach3/MyHeardle" target="_blank">Github Repo</a> or send me an email at nickb2000@live.com to share feedback.</p>
                </div>
            </div>
        </div>
        <div class="modalContainer" id="statsModalContainer">
            <div class="modal" id="statsModal">
                <div class="modalTitle">
                    <h3 class="modalTitleText foreground">Stats</h3>
                    <button class="modalCloseButton" id="statsModalCloseButton">
                        <svg class="w-7 h-7 foreground" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                    </button>
                </div>
                <div class="modalText foreground" id="statsModalText">
                    <div class="statColumn">
                        <h1 class="statsTextTitle">Won:</h1>
                        <h1 id="wonStats">0</h1>
                    </div>
                    <div class="statColumn">
                        <h1 class="statsTextTitle">Played:</h1>
                        <h1 id="playedStats">0</h1>
                    </div>
                    <div class="statColumn">
                        <h1 class="statsTextTitle">Win %:</h1>
                        <h1><span id="percentStats">0.00</span><span>%</span></h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="modalContainer" id="howToPlayModalContainer">
            <div class="modal" id="howToPlayModal">
                <div class="modalTitle">
                    <h3 class="modalTitleText foreground">How To Play</h3>
                    <button class="modalCloseButton" id="howToPlayModalCloseButton">
                        <svg class="w-7 h-7 foreground" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                    </button>
                </div>
                <div class="modalText" id="howToPlayModalText">
                    <div id="howToPlayText">
                        <p class="foreground">When you make a guess, the following corresponds to the result:</p>
                    </div>
                    <div id="howToPlaySkip" class="howToPlayIcon">
                        <div class="skipped" id="skipIcon"></div>
                        <div id="howToPlaySkipText" class="howToPlayIconText">
                            <p class="foreground">You skipped your guess</p>
                        </div>
                    </div>
                    <div id="howToPlayWrong" class="howToPlayIcon">
                        <div class="outerIconDiv">
                            <div class="wrongX1"></div>
                            <div class="wrongX2"></div>
                        </div>
                        <div id="howToPlayWrongText" class="howToPlayIconText">
                            <p class="foreground">The song and all artists are incorrect</p>
                        </div>
                    </div>
                    <div id="howToPlayPartial" class="howToPlayIcon">
                        <div class="outerIconDiv">
                            <div class="partiallyCorrectX1"></div>
                            <div class="partiallyCorrectX2"></div>
                        </div>
                        <div id="howToPlayPartialText" class="howToPlayIconText">
                            <p class="foreground">The song is incorrect but there is at least 1 correct artist</p>
                        </div>
                    </div>
                    <div id="howToPlayCorrect" class="howToPlayIcon">
                        <div class="outerIconDiv">
                            <div class="correctX1"></div>
                            <div class="correctX2"></div>
                        </div>
                        <div id="howToPlayCorrectText" class="howToPlayIconText">
                            <p class="foreground">You got the correct song!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="headerContents">
            <button class="headerButton" id="informationButton">
                <svg xmlns="http://www.w3.org/2000/svg" class="foreground" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="16" x2="12" y2="12"></line><line x1="12" y1="8" x2="12.01" y2="8"></line></svg>
            </button>
            <button class="headerButton" id="supportButton">
                <svg xmlns="http://www.w3.org/2000/svg" class="foreground" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg>
            </button>
            <h1 class="foreground" id="headerTitle">My Heardle</h1>
            <button class="headerButton" id="statsButton">
                <svg xmlns="http://www.w3.org/2000/svg" class="foreground" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M9 19v-6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2a2 2 0 002-2zm0 0V9a2 2 0 012-2h2a2 2 0 012 2v10m-6 0a2 2 0 002 2h2a2 2 0 002-2m0 0V5a2 2 0 012-2h2a2 2 0 012 2v14a2 2 0 01-2 2h-2a2 2 0 01-2-2z"></path></svg>
            </button>
            <button class="headerButton" id="howToPlayButton">
                <svg xmlns="http://www.w3.org/2000/svg" class="foreground" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"></circle><path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path><line x1="12" y1="17" x2="12.01" y2="17"></line></svg>
            </button>
        </div>
    </div>
    <div id="game">
        <div id="content">
            <div id="guessBoxes">
                <div id="guessBox1" class="guessBox">
                    <div class="skipped" hidden="true"></div>
                    <p class="skippedText spacedText" hidden="true">SKIPPED</p>
                    <div class="wrong" hidden="true">
                        <div class="wrongX1"></div>
                        <div class="wrongX2"></div>
                    </div>
                    <div class="partiallyCorrect" hidden="true">
                        <div class="partiallyCorrectX1"></div>
                        <div class="partiallyCorrectX2"></div>
                    </div>
                    <div class="correct" hidden="true">
                        <div class="correctX1"></div>
                        <div class="correctX2"></div>
                    </div>
                    <p class="guessedSongText foreground"></p>
                </div>
                <div id="guessBox2" class="guessBox">
                    <div class="skipped" hidden="true"></div>
                    <p class="skippedText spacedText" hidden="true">SKIPPED</p>
                    <div class="wrong" hidden="true">
                        <div class="wrongX1"></div>
                        <div class="wrongX2"></div>
                    </div>
                    <div class="partiallyCorrect" hidden="true">
                        <div class="partiallyCorrectX1"></div>
                        <div class="partiallyCorrectX2"></div>
                    </div>
                    <div class="correct" hidden="true">
                        <div class="correctX1"></div>
                        <div class="correctX2"></div>
                    </div>
                    <p class="guessedSongText foreground"></p>
                </div>
                <div id="guessBox3" class="guessBox">
                    <div class="skipped" hidden="true"></div>
                    <p class="skippedText spacedText" hidden="true">SKIPPED</p>
                    <div class="wrong" hidden="true">
                        <div class="wrongX1"></div>
                        <div class="wrongX2"></div>
                    </div>
                    <div class="partiallyCorrect" hidden="true">
                        <div class="partiallyCorrectX1"></div>
                        <div class="partiallyCorrectX2"></div>
                    </div>
                    <div class="correct" hidden="true">
                        <div class="correctX1"></div>
                        <div class="correctX2"></div>
                    </div>
                    <p class="guessedSongText foreground"></p>
                </div>
                <div id="guessBox4" class="guessBox">
                    <div class="skipped" hidden="true"></div>
                    <p class="skippedText spacedText" hidden="true">SKIPPED</p>
                    <div class="wrong" hidden="true">
                        <div class="wrongX1"></div>
                        <div class="wrongX2"></div>
                    </div>
                    <div class="partiallyCorrect" hidden="true">
                        <div class="partiallyCorrectX1"></div>
                        <div class="partiallyCorrectX2"></div>
                    </div>
                    <div class="correct" hidden="true">
                        <div class="correctX1"></div>
                        <div class="correctX2"></div>
                    </div>
                    <p class="guessedSongText foreground"></p>
                </div>
                <div id="guessBox5" class="guessBox">
                    <div class="skipped" hidden="true"></div>
                    <p class="skippedText spacedText" hidden="true">SKIPPED</p>
                    <div class="wrong" hidden="true">
                        <div class="wrongX1"></div>
                        <div class="wrongX2"></div>
                    </div>
                    <div class="partiallyCorrect" hidden="true">
                        <div class="partiallyCorrectX1"></div>
                        <div class="partiallyCorrectX2"></div>
                    </div>
                    <div class="correct" hidden="true">
                        <div class="correctX1"></div>
                        <div class="correctX2"></div>
                    </div>
                    <p class="guessedSongText foreground"></p>
                </div>
                <div id="guessBox6" class="guessBox">
                    <div class="skipped" hidden="true"></div>
                    <p class="skippedText spacedText" hidden="true">SKIPPED</p>
                    <div class="wrong" hidden="true">
                        <div class="wrongX1"></div>
                        <div class="wrongX2"></div>
                    </div>
                    <div class="partiallyCorrect" hidden="true">
                        <div class="partiallyCorrectX1"></div>
                        <div class="partiallyCorrectX2"></div>
                    </div>
                    <div class="correct" hidden="true">
                        <div class="correctX1"></div>
                        <div class="correctX2"></div>
                    </div>
                    <p class="guessedSongText foreground"></p>
                </div>
            </div>
        </div>
        <div id="progressDiv">
            <div id="progressBar">
                <div id="play1" style="background-color: rgb(65, 65, 65);">
                </div>
                <div id="play2">
                </div>
                <div id="play3">
                </div>
                <div id="play4">
                </div>
                <div id="play5">
                </div>
                <div id="play6">
                </div>
            </div>
        </div>
        <div id="searchDiv">
            <div id="playButtonRow">
                <div id="currentTimePlayingDiv" class="row">
                    <p id="currentTimePlayingText" class="foreground">0:00</p>
                </div>
                <div id="playButtonDiv" class="row">
                    <button id="playButton" class="spacedText" disabled="true">
                        <svg role="img" height="16" width="16" viewBox="0 0 16 16">
                            <path
                                    d="M3 1.713a.7.7 0 0 1 1.05-.607l10.89 6.288a.7.7 0 0 1 0 1.212L4.05 14.894A.7.7 0 0 1 3 14.288V1.713z">
                            </path>
                        </svg>
                    </button>
                    <button id="pauseButton" onclick="pauseSong()" class="spacedText" hidden="true">
                        <svg role="img" height="16" width="16" viewBox="0 0 16 16">
                            <path
                                    d="M2.7 1a.7.7 0 0 0-.7.7v12.6a.7.7 0 0 0 .7.7h2.6a.7.7 0 0 0 .7-.7V1.7a.7.7 0 0 0-.7-.7H2.7zm8 0a.7.7 0 0 0-.7.7v12.6a.7.7 0 0 0 .7.7h2.6a.7.7 0 0 0 .7-.7V1.7a.7.7 0 0 0-.7-.7h-2.6z">
                            </path>
                        </svg>
                    </button>
                </div>
                <div id="totalTimeDiv" class="row">
                    <p class="foreground">0:16</p>
                </div>
            </div>
            <div id="searchBarRow">
                <input id="searchInput" type="text" placeholder="Search for an artist / song title"
                       onkeyup="filterSearch(this)">
                <div id="songsDropdown" class="dropdown-content">
                    <ul id="myUL">
                    </ul>
                    <div id="chosenSongId" hidden="true"></div>
                </div>
            </div>
            <div id="submissionRow">
                <div id="skipDiv" class="row">
                    <button id="skipButton" class="spacedText" disabled="true">
                        SKIP (+1s)
                    </button>
                </div>
                <div id="resetDiv" class="row">
                    <button id="resetButton" class="spacedText">
                        RESET
                    </button>
                </div>
                <div id="submitButtonDiv" class="row">
                    <button id="submitButton" class="spacedText" disabled="true">
                        SUBMIT
                    </button>
                </div>
            </div>
        </div>
        <hr id="hrFooter">
        <div id="footer" class="foreground">
            <p>Created by Nick Burbach</p>
        </div>
    </div>
    <div id="results" hidden="true">
        <div id="resultImageDiv">
            <img id="resultImage"></img>
        </div>
        <div id="resultSongDiv">
            <h2 id="resultSong" class="foreground"></h2>
        </div>
        <button id="spotifyButton">
            <a id="spotifyLink" target="_blank">Listen on Spotify</a>
        </button>
        <div id="resultMessageDiv">
            <h3 id="resultMessage" class="foreground">

            </h3>
            <div id="resultBar">
                <div id="resultGuess1">
                </div>
                <div id="resultGuess2">
                </div>
                <div id="resultGuess3">
                </div>
                <div id="resultGuess4">
                </div>
                <div id="resultGuess5">
                </div>
                <div id="resultGuess6">
                </div>
            </div>
        </div>
        <div id="playAgainDiv">
            <button id="playAgainButton">
                Play Again
            </button>
        </div>
    </div>
</div>
</body>
</html>